body {
  margin: 0;
  font-family: PixeBoy, sans-serif;
  font-size: 16px;
  color: white
}

@font-face {
  font-family: 'PixeBoy';
  src: local('PixeBoy'), url('./assets/fonts/pixeboy.ttf') format('truetype');
}
